<h1>Investimentos</h1>

<form>
    <div>
        <label for="value">Valor:</label>
        <input type="text" id="value" name="value" [(ngModel)]="newMoney.value">
    </div>
    <div>
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" [(ngModel)]="newMoney.date">
    </div>
    <input type="button" value="Adicionar" (click)="save()">

    <h1 *ngIf='flag==true'> Sem dados cadastrados</h1>

    <div *ngIf='flag==false'>
        <google-chart [title]="title" [data]="myData" [columnNames]="myColumnNames" [type]="type" [options]="myOptions" [width]="width" [height]="height">
        </google-chart>
    </div>
</form>